footer{
    padding-top: 15%;
    text-align: center;
    background-color: white;
}

footer p{
    color: #666;
    font-size: 12px;
    padding: 0 10%;    
    margin: 0;
}

footer h3{
    color: #666;   
    margin: 0; 
    font-size: 16px;
}

/*******Desktop *******/
@media (min-width: 1024px){
    footer{
        padding-top: 5%;
    }
    footer .content-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    footer .content-footer section{
        width: 33%;
        padding: 0 25px;
        margin-bottom: 20px;
    }
    footer section i {
        transition: color .4s;
    }
    footer section:hover i{
        color: rgb(51, 51, 219);
    }
}